@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.work_img {
  background-image: url(../assests/howitworks.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.work_title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.work_overview {
  background-color: #fafafa;
  padding: 20px 30px;
  text-align: justify !important;
  line-height: 27px;
  margin: 50px 50px 60px;
}
.work_overview h4 {
  color: #ff7f00;
  font-size: 25px;
  margin-bottom: 25px;
  font-family: "Andika", sans-serif;
}
.work_overview p {
  font-size: 16px;
  font-family: "Andika", sans-serif;
}
.work_overview:hover {
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
