* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.faq-container {
  height: 100vh;
  overflow: scroll;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  /* background: #24c6dc;
  background: -webkit-linear-gradient(to right, #514a9d, #24c6dc);
  background: linear-gradient(to right, #514a9d, #24c6dc); */
}

.faq-title {
  padding: 20px 30px;
}

.faq-title h1 {
  color: azure;
}
.faq-types {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.general:hover,
.booking:hover,
.support:hover {
  cursor: pointer;
}

.general h6,
.booking h6,
.support h6 {
  color: white;
  padding: 10px 20px;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
}
.general {
  border-bottom-left-radius: 15px;

  
}
.support {
  border-bottom-right-radius: 15px;
}

.questions-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.questions {
  background-color: white;
  width: 90%;
  margin-bottom: 15px;
  border-radius: 10px;
  /* box-shadow: 5px 0px 0px 5px #eaf0f1; */
  /* box-shadow: 2px 2px 5px 2px #dae0e2; */
}

.questions h1 {
  font-size: 20px;
  color: #333945;
  padding: 20px;
  font-family: "Kaushan Script";
  font-family: "Times New Roman", Times, serif;
}

.questions p {
  font-size: 18px;
  margin-top: 5px;
  color: #0009;
  padding: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  background-color: #00000010;
  border-radius: 10px;
  align-items: center;
}

.que-icon {
  margin-right: 20px;
}

.que-icon:hover {
  cursor: pointer;
}
