.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.sidebar-menu {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  /* border-right: 1px solid #00000080; */
  box-shadow: 1px 1px 10px 0px #00000080;
}
.sidebar-menu.active {
  left: 0;
  transition: 350ms;
}
.sidebar-text {
  display: flex;
  padding: 8px 10px;
  list-style: none;
}

.sidebar-text.clicked {
  display: flex;
  list-style: none;
  border-left: 5px solid#25CCF7;
  border-right: 5px solid#25CCF7;
  background-color: #eaf0f1;
}
.sidebar-text a {
  text-decoration: none;
  color: #00000080;
  font-size: 14.5px;
  width: 100%;
  font-family: sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
}
.sidebar-text a:hover {
  background-color: #eaf0f1;
}
.sidebar-menu-items {
  width: 100%;
}
.sidebar-toggle {
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.sidebar-title {
  margin-left: 16px;
}

.sidebar-image {
  padding: 30px 10px;
}
