@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

/* .countryInner_Details {
  background-color: black;
} */

.active {
  color: #db6500;
}
.countryInner_image {
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cityName_container p:hover {
  cursor: pointer;
  text-decoration: none;
  color: #db6500;
}
.countryInner_image::after {
  height: 110vh;
  opacity: 0.3;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
}
.countryInner_name h1 {
  font-family: "Kaushan Script", cursive;
  font-weight: 100;
  font-size: 100px;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.countryInner_cities {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cityName_container {
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -25px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 2px 40px 0 rgba(4, 32, 66, 0.2);
}
.cityName_container p {
  text-align: center;
  padding: 18px 28px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  color: #000000;
  font-weight: 500;
  transition: 0.5s;
}
.countryInner_about {
  display: flex;
  padding: 75px 75px 0;
  justify-content: space-between;
}
.countryInner_aboutLeft {
  flex-basis: 60%;
}
.countryInner_aboutRight {
  flex-basis: 35%;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.16);
  background-color: #fff !important;
  border-radius: 30px;
  padding: 60px 28px 28px;
}
.countryInner_tit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.countryInner_tith {
  padding-left: 10px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #db6500;
}
.countryInner_form {
  border-bottom: 1px solid #db6500;
  padding-bottom: 30px;
}
.countryInner_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.countryInner_str {
  font-size: 12px;
  color: #666666;
  padding: 25px 0 10px 0;
}
.countryInner_amt {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
}
.countryInner_amt1 {
  font-size: 20px;
  color: #333333;
}
.countryInner_amt2 {
  font-size: 20px;
  color: #db6500;
  padding: 0 5px;
}
.countryInner_amt3 {
  font-size: 12px;
}
.countryInner_button {
  border: none;
  outline: none;
  background-color: #db6500;
  padding: 10px 20px;
  border-radius: 24px;
  font-weight: 700;
}
.countryInner_form .countryInner_names input,
.countryInner_form .countryInner_no input,
.countryInner_form .countryInner_mail input,
.countryInner_form .countryInner_persons input,
.countryInner_form .countryInner_date input {
  padding: 10px 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.countryInner_form .countryInner_names,
.countryInner_form .countryInner_no,
.countryInner_form .countryInner_mail,
.countryInner_form .countryInner_persons,
.countryInner_form .countryInner_date {
  border: 1.5px solid gray;
  margin: 20px 0;
  border-radius: 30px;
}
.countryInner_i {
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 30px;
}
.inner_home {
  display: flex;
}
.icon_home i {
  font-size: 13px;
  /* color: #5a8ec1; */
  color: #db6500;
}
.icon_right i {
  padding: 0px 8px;
  font-size: 12px;
  color: #666666;
}

.inner_name i {
  padding: 0px 8px;
  font-size: 20px;
  color: #000;
}
.inner_title {
  color: #666666;
  font-size: 12px;
}
.inner_about {
  display: flex;
  margin-bottom: 12px;
  padding-top: 75px;
}
.having {
  font-size: 16px;
  color: #ffffff;
  /* background-color: #5a8ec1; */
  background-color: #db6500;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 5px;
}
.inner_name {
  font-size: 40px;
  color: #000000;
  padding: 20px 20px 20px 0;
  font-weight: bolder;
  font-family: "Kaushan Script";
}
.available {
  display: flex;
  padding-top: 32px;
}
.available-left {
  flex-basis: 60%;
}
.available-right {
  flex-basis: 20%;
}
.available_t {
  display: flex;
  padding: 10px;
}
.available i {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  background-color: #d6e6ee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5a8ec1;
  /* color: #db6500; */
}
.locat,
.available_t h6 {
  margin-bottom: 0px;
  margin-left: 20px;
}
.locat {
  font-size: 13px;
  margin-top: 5px;
}

.highlights_title h2 {
  font-size: 40px;
  font-weight: 900;
  color: #000000;
  font-family: "Kaushan Script";
  padding: 72px 72px 20px;
}

.highlights_image::before,
.highlights_image_selected::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 300px;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}
.highlights_image {
  border-radius: 16px;
  width: 190px;
  height: 300px;
  margin: 10px;
  position: relative;
  transition: 0.5s;
}
.highlights_image img,
.highlights_image_selected img,
.countries-container img {
  object-fit: cover;
  border-radius: 16px;
  width: 190px;
  height: 100%;
  margin: 0;
}
.highlights_image_selected {
  cursor: pointer;
  border-radius: 16px;
  width: 190px;
  height: 300px;
  margin: 10px;
  box-shadow: 2px 2px 10px 10px #a8a2a2;
  /* transform: scale(1.05); */
  position: relative;
  transition: 0.5s;
}
.inner_desc {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.highlights_image-subtitle {
  text-align: center;
  white-space: normal;
  font-size: 28px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-family: "Caveat", cursive;
}
.highlights_image-subtitle-select {
  text-align: center;
  white-space: normal;
  font-size: 28px;
  font-weight: normal;
  line-height: 20px;
  color: #db6500;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  font-family: "Caveat", sans-serif;
}
.highlights_image-flex1 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px;
  /* margin: 0; */
  /* overflow: auto; */
  /* flex-wrap: wrap; */
  /* width: 75%; */
}
.highlights_image-flex2 {
  display: flex;
  padding: 10px 72px;
}
.highlights_image-flex::-webkit-scrollbar {
  display: none;
}

.highlights_about-desc {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin: auto;
}
.highlights_about-desc h2 {
  color: #000;
  font-family: "Kaushan Script";
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 30px;
}
.highlights_about-desc p {
  text-align: justify;
  height: 86px;
  font-size: 23px;
  margin-bottom: 100px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.countryInner_tour-title h2 {
  font-size: 40px;
  font-weight: 900;
  color: #000000;
  font-family: "Kaushan Script";
  padding: 12px 72px 20px;
}

.similartour_slide {
  margin: 20px;
  padding: 0 10px 0 35px;
}

.similartour_container {
  border-radius: 16px;
  width: 98%;
  height: 350px;
  margin: 10px;
  position: relative;
  transition: 0.5s;
}
.similartour_container_selected {
  cursor: pointer;
  border-radius: 16px;
  width: 98%;
  height: 350px;
  margin: 10px;
  position: relative;
  transition: 0.5s;
}
.similartour_container::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 350px;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.similartour_container img,
.similartour_container_selected img {
  object-fit: cover;
  border-radius: 16px;
  width: 98%;
  height: 100%;
  margin: 0;
}
.similartour-image-subtitle {
  text-align: center;
  white-space: normal;
  font-size: 28px;
  font-weight: normal;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-family: "Caveat", cursive;
}

.similartour_slide .slick-prev {
  left: 90%;
  top: -15%;
  z-index: 2;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px 10px;
}

.similartour_slide .slick-next {
  left: 95%;
  top: -15%;
  z-index: 2;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px 10px;
}

.similartour_slide .slick-next:before {
  font-size: 30px;
  font-family: fantasy;
  color: #000;
}

.similartour_slide .slick-prev::before {
  font-size: 30px;
  font-family: fantasy;
  color: #000;
}

.similartour_container .slick-track .slick-slide {
  margin: 20px;
}

.similar-countries-slider {
  display: flex;
  margin: 0;
  padding: 10px 72px;
  overflow: auto;
}

.similar-countries h2 {
  font-size: 40px;
  font-weight: 900;
  color: #000000;
  font-family: "Kaushan Script";
  padding: 72px 72px 20px;
}

.countries-container {
  border-radius: 16px;
  width: 200px;
  height: 300px;
  margin: 10px;
  position: relative;
  transition: 0.5s;
}

.similar-country-name {
  text-align: center;
  white-space: normal;
  font-size: 28px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-family: "Caveat", cursive;
}

.countries-container:hover {
  cursor: pointer;
}

.similarcountries .slick-prev {
  left: 88%;
  top: -15%;
  z-index: 2;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px 10px;
}

.similarcountries .slick-next {
  left: 93%;
  top: -15%;
  z-index: 2;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px 10px;
}

.similarcountries .slick-next:before {
  font-size: 30px;
  font-family: fantasy;
  color: #000;
}

.similarcountries .slick-prev::before {
  font-size: 30px;
  font-family: fantasy;
  color: #000;
}
