* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.signup_form {
  background-image: url(../assests/login1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 90px;
}
.signup_form::after {
  opacity: 0.1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
}
.signup_text,
.signup_box {
  position: relative;
  z-index: 1;
}
.signup_box .signbox {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.signup_text h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.signup_text p {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.signup_text .link {
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.signup_text .link:hover {
  color: aqua;
}
.signForm {
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.signup_box .names input,
.signup_box .email input,
.signup_box .mobile input,
.signup_box .password input {
  padding: 10px 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.signup_box .names,
.signup_box .email,
.signup_box .mobile,
.signup_box .password {
  border: 1.5px solid #fff;
  margin: 20px 0;
  border-radius: 30px;
}
.signup_box .names i,
.signup_box .email i,
.signup_box .mobile i,
.signup_box .password i {
  padding: 10px 0 10px 10px;
}
.signup_box .signbutton {
  border: none;
  outline: none;
}
.signup_box .signbutton {
  background: transparent;
  border: 1.5px solid #fff;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 50%;
  border-radius: 30px;
  padding: 10px 0px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  transition: ease 0.5s;
}
.signup_box .buttonfix {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_box .signbutton:hover {
  background: #fff;
  color: #000;
}
.signup_box input::placeholder {
  color: #fff;
  font-weight: 800;
}
