.image {
  height: 67px;
  text-align: center;
  width: 67px;
  border-radius: 50%;
}
.title {
  color: #fff;
  /* align-items: center; */
  margin-top: 10px;
  flex-direction: column;
}

.categories {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.cat-body {
  border-right: 1px solid rgba(255, 255, 255, 0.13);
  padding-right: 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cat-bod {
  padding-right: 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cat-body p,
.cat-bod p {
  font-family: "Roboto";
  font-weight: 300;
}
.cat-body p:hover,
.cat-bod p:hover {
  color: #ff7f00;
  cursor: pointer;
}
