@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.footer {
  background-color: #000;
  background-size: auto;
  padding: 20px 20px;
}
.footnav {
  display: flex;
  justify-content: space-between;
}
.footnav-area {
  display: flex;
  list-style: none;
  color: #ffffff;
}
.footnav-links {
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
}
.footnav-links:hover {
  color: #ff7f00;
  text-decoration: none;
}

.icons {
  display: flex;
}
.icons {
  padding-left: 20px;
  float: right;
}
.footnav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
  padding-bottom: 20px;
}
.facebook {
  margin-left: 20px;
}
.twitter {
  margin-left: 20px;
}
.mail {
  margin-left: 20px;
  margin-right: 10px;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #fff;
}
.link p {
  margin-top: 10px;
}
.link:hover {
  color: #ff7f00;
  text-decoration: none;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px;
}
.copyrights p {
  margin: 15px 10px 0 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #696e7d;
  font-size: 14px;
}
.copyrights span {
  color: #ff7f00;
  font-size: 14px;
}
._title {
  font-size: 13px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.34);
  text-transform: uppercase;
}
.address p {
  font-size: 14px;
  padding: 5px;
  /* line-height: 1; */
  margin-top: 5px;
  color: #fff;
}
.address span {
  color: #696e7d;
  font-size: 14px;
}
.instagram,
.facebook,
.twitter,
.mail {
  color: rgba(255, 255, 255, 0.34);
}
.instagram:hover {
  color: #fd1d1d;
}
.facebook:hover {
  color: #009fff;
}
.twitter:hover {
  color: #00acee;
}
.mail:hover {
  color: #ffffff;
}
