.header {
  width: 100%;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.29); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.nav-area {
  list-style: none;
  display: flex;
}
.nav-area li {
  padding: 0px 20px;
}
.logo img {
  width: 60px;
  border-radius: 50%;
  height: 60px;
}
.nav-links {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.nav-links:hover {
  color: #ff7f00;
  text-decoration: none;
}
