@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");

.header {
  width: 100%;
  margin: 0px auto;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-area {
  list-style: none;
  /* flex-basis: 80%; */
  display: flex;
}
.nav-area li {
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 500;
  /* font-family: "Andika", sans-serif; */
}
.logo img {
  width: 60px;
  border-radius: 50%;
  height: 60px;
}
.nav-links {
  text-decoration: none;
  color: white;
}
.nav-links:hover {
  color: #ff7f00;
  text-decoration: none;
}
