@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.tours {
  background-color: black;
  height: 1000px;
  padding: 40px;
}
.tours .tour-slider-header .tour-slider-title p {
  color: rgb(255, 127, 0);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.tour-slider-title h2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.tour-slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour-details p {
  width: 500px;
  color: #fff;
  justify-content: flex-end;
  display: flex;
  margin: 5px 0px;
}

.tour-details h3 {
  color: rgb(255, 127, 0);
}
.poptour1 {
  margin: 20px;
}

.trends img {
  width: 552px;
  height: 403px;
  border-radius: 20px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.trends {
  height: 450px;
}

.tour-details {
  position: relative;
  bottom: 180px;
  padding: 20px;
}

span {
  font-size: 20px;
  color: white;
  margin: 0 3px;
}

.link {
  text-decoration: none;
}
.tour-slider-title {
  padding-left: 20px;
}

.days {
  align-items: center;
  display: flex;
}

.icon {
  margin-top: 10px;
}
.ptour {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  margin: 8px;
  color: #fff;
  padding: 5px 10px;
}

/* benefits */
.benefits {
  display: flex;
  justify-content: space-evenly;
}
.item {
  display: flex;
}
.item_img img {
  border-radius: 100%;
  width: 110px;
  height: 110px;
}
.tc {
  margin-left: 20px;
}

.tc h3 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 11px;
}
.tc p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.49);
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
  width: 174px;
}
