.top_destination {
  padding: 50px 40px;
  background: #fff;
  height: 550px;
  width: 100%;
}
.descriptions {
  display: flex;
}
.descriptions .text {
  font-size: 18px;
  color: #818693;
  line-height: 1.45;
  margin-bottom: 40px;
}
.section_heading .section_subtitle {
  color: #ff7f00;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}
.section_heading .section_titles h2 {
  font-size: 40px;
  font-weight: 900;
  color: #3e4559;
  font-family: "Roboto", sans-serif;
}
.section_item {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}
.section_item .section_image {
  /* width: 140px; */
  height: 120px;
  opacity: 0.9;
  border-radius: 8px;
  transition: 0.5s;
  position: relative;
  width: 90%;
}
.section_item .city {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -80px;
  z-index: 1;
}
/* .section_item p {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -80px;
} */

.city {
  /* margin: 10px; */
}
.section_item .section_image:hover {
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 10px;
}
.popular_link {
  text-decoration: none;
}
.popular_link:hover {
  text-decoration: none;
}

.citypop {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
