.expediture-img {
  height: 40%;
  width: 50%;
}

@media (max-height: 578px) {
  .expediture-img {
    height: 20%;
    width: 30%;
  }

  .destination-questionss {
    display: flex;
    flex-wrap: wrap;
  }
  .destination-questionss h6 {
    margin-right: 5px;
    padding: 0;
  }
}
