/* Tour Type */
.domestic,
.international {
  width: 40%;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 2px 20px 0 rgba(4, 32, 66, 0.2);
  margin: 50px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  position: relative;
}
.domestic-selected,
.international-selected {
  border: 5px solid red;
}

.tour-type {
  display: flex;
  justify-content: space-evenly;
}

.domestic img,
.international img {
  width: 60%;
  height: 50%;
}
.international h6,
.domestic h6 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
}

.domestic:hover,
.international:hover {
  cursor: pointer;
  /* background-color: tomato; */
}
