.tourist-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.adult,
.child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.tourist-category label {
  color: gray;
  font-weight: 700;
}
.tourist-func .increment,
.tourist-func .decrement {
  background-color: tomato;
  padding: 8px 15px;
  color: #fff;
  border-radius: 50%;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.adult img,
.child img {
  width: 30%;
  height: 27%;
}

.tourist-container input {
  text-align: center;
}
.numbers {
  outline: none;
  border: none;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  padding: 0 5px;
  width: 100px;
}
@media (max-height: 578px) {
  .adult img,
  .child img {
    width: 20%;
    height: 17%;
  }
}
