.tourist-Date {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.date-from label,
.date-to label {
  color: gray;
  font-weight: 700;
}
