.tourist-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.adult,
.child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tourist-category label {
  color: gray;
  font-weight: 700;
}
.tourist-func .increment,
.tourist-func .decrement {
  background-color: tomato;
  padding: 0px 10px;
  color: #fff;
}
