/* .tourist-Date {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.date-from label,
.date-to label {
  color: gray;
  font-weight: 700;
}
.from-category,
.to-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.from-category img,
.to-category img {
  width: 50%;
  height: 47%;
} */

.nice-dates-navigation {
  color: turquoise;
}
.nice-dates-day {
  color: #111;
}
.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 380px;
  transition: none;
}

.date-range img {
  width: 40%;
  height: 45%;
  margin-bottom: 50px;
}

.date-range {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.date-range input {
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 4px;
}

.date-container span {
  font-size: 30px;
  margin-top: 200px;
}

.from-date,
.to-date {
  display: flex;
  flex-direction: column;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.from-date label,
.to-date label {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 20px;
}
